.home-label {
    -fx-font-size: 20px;
    -fx-font-family: "Futura", sans-serif;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, #050f1a, #3f4146);
    -fx-effect: dropshadow(gaussian, rgba(141, 132, 132, 0.75), 10, 0.5, 2, 2);
    -fx-font-weight: bold;
    -fx-font-style: italic;
}


.logout-button {
    -fx-font-size: 16px;
    -fx-background-color: #243A73;
    -fx-text-fill: white;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
}
