.login-label {
    -fx-font-size: 100px;
    -fx-translate-x: 0px;
    -fx-translate-y: -170px;
}

.text-input {
    -fx-background-color: white;
    -fx-opacity: 0.8;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: gray;
    -fx-pref-width: 220px;
    -fx-pref-height: 40px;
}

.login-button {
    -fx-font-size: 16px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-translate-x: 0px;
    -fx-translate-y: 100px;
}