.sidebar {
    -fx-padding: 30px;
    -fx-spacing: 10px;
    -fx-background-color: #1D2D50;
}

.title {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-padding: 0 0 40px 0;
}

.sidebar-button {
    -fx-font-size: 20px;
    -fx-background-color: #243A73;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-pref-width: 200px;
}

.sidebar-button:hover {
    -fx-background-color: #3A4E8D;
}

.sidebar-button.selected {
    -fx-background-color: #3A4E8D;
}

.clock {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-padding: 160px 0 0 45px;
    -fx-alignment: center;
}

.welcome-label {
    -fx-font-size: 80px;
    -fx-font-family: "Futura", sans-serif;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, #4A90E2, #243A73); /* Gradient text color */
    -fx-effect: dropshadow(gaussian, rgba(141, 132, 132, 0.75), 10, 0.5, 2, 2); /* Drop shadow */
    -fx-font-weight: bold;
    -fx-translate-x: 0px;
    -fx-translate-y: -30px;
    -fx-alignment: center;
}