.sidebar {
    -fx-padding: 30px;
    -fx-spacing: 10px;
    -fx-background-color: #1D2D50;
}

.title {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-padding: 0 0 40px 0;
}

.sidebar-button {
    -fx-font-size: 20px;
    -fx-background-color: #243A73;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-pref-width: 200px;
}

.sidebar-button:hover {
    -fx-background-color: #3A4E8D;
}