.table-view{
    -fx-pref-width: 840px;
    -fx-pref-height: 576px;
    -fx-border-style: solid;
    -fx-border-color: #CCCCCC;
}

.username-column {
    -fx-pref-width: 100px;
}

.password-column {
    -fx-pref-width: 100px;
}

.fullname-column {
    -fx-pref-width: 150px;
}

.age-column {
    -fx-pref-width: 60px;
}

.gender-column {
    -fx-pref-width: 60px;
}

.admin-column {
    -fx-pref-width: 90px;
}

.button {
    -fx-font-size: 12px;
    -fx-background-color: #243A73;
    -fx-text-fill: white;
    -fx-font-family: 'Futura', sans-serif;
}

.combo-box {
    -fx-pref-width: 104px;
    -fx-pref-height: 25px; 
    -fx-background-color: #ffffff;
    -fx-border-color: #0078d7;
    -fx-border-radius: 5px;
    -fx-font-size: 12px;
    -fx-font-family: 'Futura', sans-serif;
}

.combo-box:hover {
    -fx-border-color: #005bb5;
    -fx-background-color: #f0f8ff;
}

.combo-box .arrow-button {
    -fx-background-color: #3A4E8D;
}

.combo-box .list-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #0078d7;
    -fx-border-radius: 5px;
}

.combo-box .list-cell {
    -fx-font-size: 12px;
}

.combo-box .list-cell:hover {
    -fx-background-color: #dbeeff;
}

.top-pane {
    -fx-pref-width: 1024px;
    -fx-pref-height: 110px;
}

.search-field {
    -fx-pref-width: 500px;
    -fx-pref-height: 50px;
    -fx-background-color: #ffffff;
    -fx-padding: 10px 10px 10px 10px;
}